[2016-07-12 17:13] ranunez opened #5 "Add Swift 3 support"
Lets create a separate branch so we can add Swift 3 support

[2016-07-12 17:29] ranunez commented on #5
@Alua-Kinzhebayeva If you create a `swift3` branch on this repo, I can add support for it from [my branch in my fork](https://github.com/ranunez/iOS-PDF-Reader/tree/swift3)

[2016-07-12 19:02] Alua-Kinzhebayeva commented on #5
@ranunez good idea. will do

[2016-07-12 19:05] Alua-Kinzhebayeva commented on #5
done 😄

[2016-07-12 19:27] ranunez commented on #5
This issue was fixed with #7

[2016-07-12 19:27] #5 closed

[2016-07-12 20:42] ranunez opened #8 "Increase performance when swiping through pages"
There seems to be a lot happening on the main thread when scrolling through documents. We should wrap necessary calls with `dispatch_async `.

[2016-07-12 20:53] ranunez opened #9 "Push first version to the Cocoapods repo"
1.  [Create an account to get set up with trunk](https://guides.cocoapods.org/making/getting-setup-with-trunk)
2. [Create a release and push it](https://guides.cocoapods.org/making/making-a-cocoapod.html#release)

[2016-07-13 06:11] Alua-Kinzhebayeva commented on #8
I will look into that 😉

[2016-07-13 06:11] Alua-Kinzhebayeva commented on #9
👍

[2016-07-14 07:11] #8 closed

[2016-07-18 02:43] ranunez commented on #9
@Alua-Kinzhebayeva we should publish a v 1.0.0 (or < 1.0.0) real soon, so that other users can more easily integrate this with their own projects using cocoapods. As an alternative, if you add me as a colaborator, I can take care of doing this work for you so you don't have to worry about it 😀

[2016-07-18 06:40] Alua-Kinzhebayeva commented on #9
@ranunez, done! added you as a collaborator 😉

[2016-07-18 06:57] #9 closed

[2016-07-18 15:49] Tauri4n opened #13 "Unable to convert Ruby value `"bplist00"
FYI: I get the following error when running pod install.

`Unable to convert Ruby value "bplist00\xD1\u0001\u0002_\u0010\u000FWebMainResource\xD5\u0003\u0004\u0005\u0006\a\b\t\n\v\f^WebResourceURL_\u0010\u000FWebResourceData_\u0010\u0013WebResourceMIMEType_\u0010\eWebResourceTextEncodingName_\u0010\u0014WebResourceFrameName_\u0010Qhttps://raw.githubusercontent.com/Alua-Kinzhebayeva/iOS-PDF-Reader/

[2016-07-18 16:13] ranunez commented on #13
Thats strange, this may or may not be related to https://github.com/CocoaPods/CocoaPods/issues/5200 ?

[2016-07-18 16:15] ranunez commented on #13
Whats weird is that you weren't given a stack trace, it tried to somehow display the `LICENSE` file to the console for some reason

[2016-07-18 16:28] Tauri4n commented on #13
I thought it had something to do with not being on the latest version of Ruby. I upgraded but I wasn't able to get CocoaPods to use the new version. Restarted, reset everything and tried again and it's working.

[2016-07-18 16:28] #13 closed

[2016-07-20 03:08] alexviquez opened #14 "URL Request"
Hello Friend, im actually using PDFReader my question is the next, can i request PDF from url with this Framework? if it yes, how can i? Thank You so much!

[2016-07-20 03:23] ranunez commented on #14
I'm sorry, I'm not quite sure I understand your question "can i request PDF from url". Can you be a little more clear/specific? Do you want to download a PDF from a webpage and display it with this library? Thanks

[2016-07-20 08:41] alexviquez commented on #14
yes, I would like to display a PDF file from a server and display with this Framework, Thanks

[2016-07-20 14:54] ranunez commented on #14
You would need to download and save the file somehow, in order to create a `PDFDocument`. Something like this:

[code]

[2016-07-22 15:40] #14 closed

[2016-08-05 15:04] dipsvaishnav opened #16 "POD Install error"
when i install PDFReader pod i got error
"[!] Unable to find a specification for `PDFReader`
"

[2016-08-05 20:42] ranunez commented on #16
Is this after running a `pod repo update`?

[2016-08-12 02:11] #16 closed

[2016-08-12 02:11] ranunez commented on #16
Closing due to inactivity, feel free to reopen if this did not solve the issue

[2016-09-25 22:38] PanosSakkos opened #23 "Sharing PFD file with other apps"
Hello Alua,

First of all, thanks for the great work!
Your pod is happily being used in [Dono for iOS](https://github.com/dono-app/dono-ios), let me know if you are interested in joining the test ring 😄

Second, how about enabling to share the pdf file on other apps?
For example in the iBooks app you can either print the pdf or share it via email.

Thanks again for the effort!
:panos

edit:

I jus

[2016-09-27 07:40] ranunez commented on #23
Please check out our new 2.1.0 release. It lets you specify a custom `ActionStyle`, with one of the options to present an activity sheet (`.activitySheet `), enabling users to open/share the PDF in other apps!

[2016-09-27 07:40] #23 closed

[2016-10-01 12:44] PanosSakkos commented on #23
Great! An code sample doing that would be great though 😉

[2016-10-01 17:14] Alua-Kinzhebayeva commented on #23
@PanosSakkos thank you for your kind words!
I like your project by the way!

[2016-10-03 02:11] benbahrenburg opened #24 "Override actionButton Button"
Hello,

Thanks for all of the work on this great library.  I'm currently using this on one of my projects an need to override the actionButton button.

In the latest build the logic has been updated alittle on this.  Before I sent a PR wanted to check what approach you might this is best.

The easiest is to make the actionButton public.  This would allow the setting application to override.

[code

[2016-10-03 02:26] ranunez commented on #24
This looks good overall, I like the extra `createNew` function to solve this potential need. What specific need do you have of overriding `actionButton`? The current implementation has the ability to customize the image and action, and I just was curious to see how you were using it and gauge how big of a need this is. Thanks!!

[2016-10-12 07:58] MonaHammad opened #25 "Is there any app on the store that uses this library?"

[2016-10-12 16:22] ranunez commented on #25
We don't have access to that kind of information or know of any off-hand that are in the app store, but we do know of at least one open source app using this library: https://github.com/dono-app/dono-ios

[2016-10-12 16:22] #25 closed

[2016-10-12 16:24] ranunez commented on #24
Closing due to lack of response and activity for some time. Feel free to reopen if you have more information about the specific need for this feature.

[2016-10-12 16:25] #24 closed

[2016-11-30 15:55] romanvolkov-io opened #27 "Flicker in UIPageViewController's views"
Hi,

I've integrated the PDFPageView into a UIPageViewController's view so that I can use a page controller instead of a collection view.

However, the screen flickers if it is being initially rendered. This behaviour is not present in a collection view. Scroll mode is worse than page curl.

Do I have to set any properties on the view, which hosts the PDFPageView? I don't use Storyboards.

[2016-11-30 16:00] romanvolkov-io opened #28 "Slow thumbnail generation on large documents"
Hi,

Large documents (500+ pages) exhibit a significant delay if opened which is apparently caused by the thumb bar.

Any ideas how to improve this?

[2016-12-01 02:52] ranunez commented on #28
Hmm, interesting I don't think many of us have tested this on that large of a PDF! A good solution would be to lazy load the thumbnail images in the background instead of having to wait to load all of them to display the PDF. Thanks for the catch!

[2016-12-01 02:59] ranunez commented on #27
Hmm, nothing initially jumps out at me. Do you have a simple example repo of a `PDFPageView` in a `UIPageViewController`? `PDFPageView` is an `internal` class and wasn't intended to be used outside of the context of the framework.

[2016-12-01 17:11] romanvolkov-io commented on #27
I'll create a sample project. I use a similar implementation, so I swapped classes and got the same result.

BTW, has this issue in CoreGraphics been resolved meanwhile?

`class PdfTiledLayer: CATiledLayer {
    override class func fadeDuration() -> CFTimeInterval {
        return 0.001 // Workaround
    }`

    `override func display() {
        //contents = nil   --> Stops the flickering but cau

[2016-12-02 13:06] romanvolkov-io commented on #27
I could pin down the part that's responsible for the issue mentioned above. It's this line:
[code]
Commenting out …
[code]
… solves it. What's the implication not setting this property to one? Everything renders fine and quite fast!

[2016-12-05 10:48] mahdidham opened #29 "Apps cannot running when it downloaded directly"
Hi, i want to try download directly this apps from github(without using CocoaPods or Carthage). When i want to build it, it successfully run but iPhone simulator does not appear. Is that anything wrong to me? can you explain how?

[2016-12-06 01:30] ranunez commented on #29
I'm not really sure I understand what you are trying to do, are you trying to run the demo project? If so, is it set to the Demo scheme with a simulator that you want to run it on? There might be some Xcode tutorials out there if you're unsure how this works.

[2016-12-06 04:39] mahdidham commented on #29
Thank you, the problem was solved! Thank you too for the information.

[2016-12-06 04:39] #29 closed

[2016-12-07 21:29] ranunez commented on #27
https://github.com/Alua-Kinzhebayeva/iOS-PDF-Reader/blob/master/Sources/Classes/PDFPageView.swift#L132

[2016-12-08 17:09] ranunez commented on #27
But having said that, if the commenting out the above code works for you in your implementation, then go for it!

[2016-12-08 17:09] #27 closed

[2017-01-13 13:13] Omar-M opened #31 "Demo project crashes on devices"
It's not a real bug of the framework but on the demo project.
Xcode will crash with SIGABRT "Library not loaded, image not found" unless you add PDFReader.framework to Target Demo> tab general> Embedded Binaries

[2017-01-14 19:19] #31 closed

[2017-01-17 00:33] benbahrenburg opened #33 "Loading PDF from Data or CGPDFDocument"
Hello,

For one of my current projects I need to be able to load pdfs from a variety of different sources.  I thought maybe you would be interested in looking at if the project could benefit.  Basically I added a strategy to the init of the PDFDocument that allows the strategy to create the CGPDFDocument and required fields.  Since some of the options don't have associated files I had to add some

[2017-01-17 01:11] ranunez commented on #33
I'm a little confused about what the actual use case of this is. Right now `PDFDocument`s are created with a simple URL to the file. Normally if you have the PDF as raw data, you just save a temporary file in the caches directory and use that, so that you always have a reference to the file's contents and don't run into problems later on. Perhaps I need more information about the actual intended u

[2017-01-17 01:21] benbahrenburg commented on #33
Hi @ranunez ,
You are correct that this is really an enterprise style feature.  It is similar to how vfr reader creates their document (https://github.com/vfr/Reader/blob/master/Sources/CGPDFDocument.m).  The big differences is instead of just creating a bunch of different init overrides I thought it might be easier to create a protocol strategy.

There are several reason the app might have a NSDa

[2017-01-17 14:14] benbahrenburg commented on #33
@ranunez after thinking about it alittle more I think there is a better approach then the one I first suggested.  If a protocol is used for the PDFDocument it would allow those using the project to create their own "document" as long as they conform to the interface.

For those using the existing PDFDocument there is no change as PDFDocument inherits from the protocol.  I did have to make fileURL

[2017-01-17 14:29] #33 closed

[2017-01-17 14:29] benbahrenburg opened #34 "Protocol Support for PDFDocument"
@ranunez after thinking about it alittle more I think there is a better approach then the one I first suggested. If a protocol is used for the PDFDocument it would allow those using the project to create their own "document" as long as they conform to the interface.

For those using the existing PDFDocument there is no change as PDFDocument inherits from the protocol. I did have to make fileURL an

[2017-01-17 16:57] ranunez commented on #34
This seems like a much cleaner solution, but I'm still weary of making fileURL optional, as several features of the app depend on them, for example the print and activity sheet. If this were to be optional, how would we handle these buttons/actions, and how would this get communicated to the user of the library, especially [at the point of initialization](https://github.com/Alua-Kinzhebayeva/iOS-P

[2017-01-17 21:43] benbahrenburg commented on #34
I guess I am looking at it from a flexibility standpoint.  It would allow consumers to use the project with a more flexible set of PDF sources, similar to vfr reader supports.  We could handle the button behavior via documentation, examples, and asserts.

Happy to put together all of the above so it is clear to the developers using the project.

[2017-01-18 12:51] nidomiro opened #35 "Double Tap opens/closes NavigationBar"
In the current (podfile) version a double tap also opens/closes the NavigationBar. To ignore the single tap if there is a double tap I altered your code the following way:

Inside PDFPageView.swift:

    internal final class PDFPageView: UIScrollView {

        ...

        init(frame: CGRect, document: PDFDocument, pageNumber: Int, pageViewDelegate: PDFPageViewDelegate?) {

            ...

[2017-01-18 16:17] Niphery commented on #28
Same issue here. Loading a regular size magazine, (~120 pages) takes almost 7seconds.

[2017-01-19 02:51] ranunez commented on #35
Thanks! Single tapping toggles the nav bar, and initially I assumed double tapping, in addition to zooming in and out of the document, should also toggle the nav bar, but now I'm having my doubts whether this is the right approach. I think we should keep it simple: single tap to toggle the nav bar, double tap to zoom in and out. Feel free to open a pull request if you're interested in getting cred

[2017-01-19 02:57] ranunez commented on #34
My main concern is making it clear to users what features/customizations are available when. If we can add the flexibility of a protocol oriented approach and not compromise on clarity and ease-of-use for developers using the project, I think we're golden. I'd be happy to take a look at a pull request.

[2017-01-19 05:57] ranunez commented on #28
@romanvolkov-io @Niphery Performance should be dramatically better in [2.1.6](https://github.com/Alua-Kinzhebayeva/iOS-PDF-Reader/releases/tag/2.1.6), please let me know if this fixes it!

[2017-01-20 14:50] Niphery commented on #28
@ranunez It's way better yes thank you for the reactivity 👍
However the thumbnail preview take some times to load the first time I open the PDF.
Not really an issue at the moment but I though i would let you know.

[2017-01-20 14:53] romanvolkov-io commented on #28
Yeah, I've already implemented something like that in a customer project recently. I also store generated thumbnails for caching purposes and regenerate them on demand.

[2017-01-20 14:58] #28 closed

[2017-01-20 15:20] Niphery opened #36 "thumbnails caching - related to #28"
Now that there is a caching system for the thumbnail.
The view are loaded faster.
However it created a new issue which i just discover.

I've a table view with a list of PDFs.
When i click on one, I generate a PDFViewController and then push it on my NavigationController.
The problem is when I go back and select another PDF, the thumbnail are from the first opened PDF.

[2017-01-23 09:58] nidomiro commented on #35
Thanks, but it would be nice, if you could change that. A Fork for this little line is overkill in my opinion ;)

[2017-02-01 19:27] #36 closed

[2017-02-01 19:29] #35 closed

[2017-02-23 09:33] vipinjohney opened #41 "PDF doesn't appear in the right direction"
PDF is not flipped to the right direction.

The below code is not working.
// Flip the context so that the PDF page is rendered right side up.
        con.translateBy(x: 0, y: bounds.size.height)
        con.scaleBy(x: 1, y: -1)

I think you need to add "concatenate" - context.concatenate(_ transform: CGAffineTransform)

[2017-02-23 16:07] ranunez commented on #41
Can you please provide a screenshot or even better a PDF that exhibits this bug so we can properly test and fix it? Feel free to send in a pull request as well!

[2017-02-27 10:22] MauriceHmb opened #43 "How to add multiple attributes to PDFViewController"
Hi,
I'm having some trouble adding multiple attributes to the controller.

[code]

if I now want to disable the thumbnails, I add the following to the code:

`let readerController = PDFViewController.createNew(with: document, actionStyle: .activitySheet, isThumbnailsEnabled: false)`

but i get an error: "argument 'isThumnailsEnabled' must precede argument 'actionStyle'"

Also when I want to change

[2017-02-27 16:29] ranunez commented on #43
I'm not experiencing these errors, can you confirm you are using v2.2.0? Can you fork the repo and modify the demo project so that we can investigate these errors you are experiencing? Thanks

[2017-02-27 16:44] MauriceHmb commented on #43
I've added it to my project using cocoapods.
In my pod file, I added `pod 'PDFReader`.
It seems that it is not downloading the actual version...

[2017-02-28 06:35] #43 closed

[2017-02-28 23:14] MikeLeber117 opened #44 "Action button not set on createNew(...."
in iOS 10 when you call createNew(....

The view is loaded before the Right action button can be set to the controller, there by setting a nil right action button in viewDidLoad.

For some reason, the call         `controller.isThumbnailsEnabled = isThumbnailsEnabled` is loading the view.

[2017-03-03 13:13] diogoAntunes opened #46 "Error on pod install"
[code]

When trying to run `pod install`, only happens in iOS-PDF-Reader

[2017-03-07 06:14] ranunez commented on #41
Closing due to inactivity, feel free to re-open if you have an example.

[2017-03-07 06:16] ranunez commented on #34
Closing due to inactivity. Free free to re-open if you want to open up a pull request for this in the future.

[2017-03-07 06:16] #34 closed

[2017-03-07 06:20] ranunez commented on #46
I cannot reproduce this error. What does that piece of your podfile look like? What version of cocoapods are you on? Have you tried running `pod repo update` before your `pod install`?

[2017-03-07 06:30] #44 closed

[2017-03-07 09:10] vipinjohney commented on #41
Any PDF in the landscape mode should produce this bug.

[2017-03-07 15:27] ranunez commented on #41
I seem I cannot reproduce this. I tried loading up a random [PDF](http://devstreaming.apple.com/videos/wwdc/2016/201h1g4asm31ti2l9n1/201/201_internationalization_best_practices.pdf) that has its content in landscape mode, but I am unable to reproduce this issue (screenshots attached). Are you running on HEAD or an older commit?
![simulator screen shot mar 7 2017 7 21 04 am](https://cloud.githubuse

[2017-03-09 08:13] suresh777 opened #47 "open pdf using url"
i am using this pdf reader it is working fine but everytime if i want to display pdf i have to save,
 is there any way to open directly with url

[2017-03-09 16:15] ranunez commented on #47
@suresh777 That is currently not a supported feature by the api, but you can easily create your own function [like this](https://github.com/Alua-Kinzhebayeva/iOS-PDF-Reader/issues/14#issuecomment-233974249) that accomplishes the same thing

[2017-03-10 11:48] vipinjohney commented on #41
[First Floor Plan.pdf](https://github.com/Alua-Kinzhebayeva/iOS-PDF-Reader/files/833822/First.Floor.Plan.pdf)

Try with this document.

[2017-03-11 20:05] #41 closed

[2017-03-11 20:13] ranunez commented on #41
@vipinjohney This should be fixed in v2.2.2

[2017-03-14 07:09] ranunez commented on #46
Closing due to inactivity

[2017-03-14 07:09] #46 closed

[2017-03-15 06:29] iBenjamin opened #48 "Need to remove 'final' in PDFViewController class definition"
I need to inherit from PDFViewController to add some custom UIView above vc's view, but i find that PDFViewController can not be inherited. So can you remove the 'final' in the PDFViewController?

[2017-03-16 18:19] ranunez commented on #48
This class was intentionally made `public` and not `open` for a reason, this isn't a trivial change. I do not want to support this functionality at this time and have to fix the many problems that could arise from subclassing PDFViewController incorrectly, and have to tip toe future modifications to many functions and inadvertently break any subclasses. A much cleaner solution would be to find out

[2017-03-16 18:31] #47 closed

[2017-03-18 06:08] NhatQuangZ opened #49 "Get table of content PDF file"
Hi. Your lib is great. But how i can get Table of content within pdf?

[2017-03-18 06:09] ranunez commented on #49
What do you mean by "Table of content"?

[2017-03-18 06:20] NhatQuangZ commented on #49
Some PDF have "table of content " associated, like this:
<img width="472" alt="screen shot 2017-03-18 at 1 14 21 pm" src="https://cloud.githubusercontent.com/assets/20753825/24069541/0a204780-0bdd-11e7-9601-895b4c854a38.png">
In ios, how i can get it?

[2017-03-18 07:20] ranunez commented on #49
The bottom thumbnail bar serves this purpose by providing a visual table of contents of sorts. A textual representation of this is currently not supported.

[2017-03-18 09:10] NhatQuangZ commented on #49
I know that, but do you have a suggest how i can do that? I really need this feature.

[2017-03-18 17:45] ranunez commented on #49
You can do some digging around in the [documentation](https://developer.apple.com/reference/coregraphics/cgpdfdocument), but stackoverflow would be a more appropriate environment for you to try to get this question answered. Feel free to open up a pull request if you ever find a solution!

[2017-03-18 17:45] #49 closed

[2017-03-21 09:50] NhatQuangZ opened #50 "How to go to specific page?"
I want to navigate to specific page in pdf? How i can do that?

[2017-03-21 18:02] ranunez commented on #50
@NhatQuangZ Tap on the appropriate page on the bottom thumbnail bar to jump to a specific page

[2017-03-21 18:02] #50 closed

[2017-03-23 01:49] iBenjamin commented on #48
ok, i understand thank you!

[2017-03-23 01:49] #48 closed

[2017-03-29 09:36] iAviatorJose opened #51 "Which version of pod should i use for swift 2.2"

[2017-03-30 02:35] ranunez commented on #51
1.0.3 should work, but as a reminder this swift 2 branch is no longer being maintained or supported

[2017-03-30 02:35] #51 closed

[2017-04-03 16:33] TiagoTab opened #52 "Landscape PDFs appear only as white pages"
I've tested multiple pdfs and in this version the landscape pages aren't visible.

The page selector shows the number of pages the pdf has, but all appear in white, without any content.

Example PDF:
https://cdn.yamaha-motor.eu/owner-manuals/Motorcycles/U20SE1.PDF

![img_0171](https://cloud.githubusercontent.com/assets/3111365/24619818/479e8df2-1893-11e7-9be4-399818099b56.PNG)

[2017-04-05 10:19] clovs commented on #50
Hello,
How to open PDF to a specific page?
I want to read some Manga in PDF, I have to start from the last page.
regards,

[2017-04-05 17:20] ranunez commented on #50
As stated above, there is currently no support in the library to do this, but you can open up a pull request if you would like to have it open to a specific page and I would be happy to take a look at it! :)

[2017-04-06 22:54] ranunez commented on #50
@clovs [v2.4](https://github.com/Alua-Kinzhebayeva/iOS-PDF-Reader/releases/tag/2.4.0) now has the ability to open up a PDF to a specific page.

[2017-04-06 23:04] ranunez commented on #52
Thank you for finding this bug @TiagoTab! This is due to the fact the PDF pages happens to have a "Crop Box" size that is not the same as the "Media Box" size. In the meantime, the current workaround is to open up the PDF in Preview and use the "Export as PDF" option, which will export the PDF into a more standard format. Thanks for catching this!

<img width="354" alt="pdfproperties" src="https:/

[2017-04-07 06:46] clovs commented on #50
I was just watching how to do it.
You have been very reactive!
Thanks,

[2017-04-08 13:59] TCOA opened #53 "Use of unresolved identifier 'PDFDocument'"
Admittedly new to Xcode and Swift 3 and looking for a PDF solution that works, I found this framework.

However, following the instructions (and finally figuring out that the code given should be in the viewDidLoad(), I still get the error "Use of unresolved identifier 'PDFDocument'"

` override func viewDidLoad() {
        super.viewDidLoad()

    let remotePDFDocumentURLPath = "http://devstreami

[2017-04-08 15:48] ranunez commented on #53
The install instructions assumes one is already familiar with dependency managers such as Carthage or Cocoapods. Please do a quick tutorial or two of Carthage and/or Cocoapods to understand how to integrate external libraries such as this into your application.

[2017-04-08 15:48] #53 closed

[2017-04-08 16:30] TCOA commented on #53
I've installed 19 external libraries and every one (from large groups to small - Alamofire, SwiftKeychainWrapper, Mapbox, Firebase, etc.) have all had an 'import' command associated with the Cocoapods install and use - and I have had no issues with any of them.....

So, it seems clear that "such as this one" really isn't..... - in my, admittedly new, though not inexperienced, use of Cocoapods.

I

[2017-04-08 16:36] ranunez commented on #53
If you checkout the demo project, you can see a working implementation using Carthage, but the same would apply for Cocoapods

[2017-04-08 17:08] TCOA commented on #53
For others that are somewhat new to all this and that may wish to use this library, here is the Swift 3 working code (I don't know why it didn't work before, but it works with this code....)

`
import UIKit
import PDFReader

class DocViewController:UIViewController {
    override func viewDidLoad() {
        super.viewDidLoad()
        let remotePDFDocumentURLPath = "YOUR_URL_HERE"
        let rem

[2017-04-10 13:30] TiagoTab commented on #52
Saving the PDFs as "US Letter" fixes the problem, thank you for the help 👍

[2017-04-10 13:30] #52 closed

[2017-04-23 06:32] reza-khalafi opened #54 "How to change cell size ?"
Hello
I want to change size of PDF and fit it to view controller
![2017-04-23 11 01 10](https://cloud.githubusercontent.com/assets/8235321/25311357/2dac3918-2814-11e7-91ac-f43fd33fa1f0.jpg)

[2017-04-23 06:33] reza-khalafi opened #55 "Is there any way for get a preview of PDF?"
Hello
I wan to get preview like Image or ... for show it anywhere.

[2017-04-23 06:43] ranunez commented on #55
I am not sure I understand what you are asking

[2017-04-23 06:44] ranunez commented on #54
You want it to zoom in? I am not sure I understand what you are asking

[2017-04-23 13:16] reza-khalafi commented on #54
ohhhh , mistake  :(

[2017-04-23 13:17] reza-khalafi commented on #55
like screenshot

[2017-04-23 18:41] #54 closed

[2017-04-23 18:42] #55 closed

[2017-04-25 09:01] SeRcCaN opened #56 "Display progress hud"
is it possible to use progress hud while using remote url. Until the download is finished

[2017-04-25 09:19] SeRcCaN commented on #56
yes this is possible with DispatchQueue.main.async

[2017-04-25 09:19] #56 closed

[2017-05-11 10:50] Sokalay opened #57 "CPU overloading"
​Thank you for sharing your library and hardworking.

We have spotted an issue with iOS 8 & 9 which cause CPU overloading and crash the application. However, it works well with iOS 10.

We just want to let you know about this issue and hope that it will be useful for the library improvement.

Thanks.

[2017-06-26 06:11] igorek845 opened #58 "How can i get last opened page if i close document?"
Can u help me?

[2017-07-21 00:35] #58 closed

[2017-08-14 14:52] ghousenaren opened #59 "How to provide Mail Attachment name"
Thanks for the Lib,
By Default, email attachment is named as Attachment-1.pdf.
Can we give our name for the same?

[2017-08-14 20:58] aaronjrenfroe opened #60 "NSInvalidArgumentException: attempt to scroll to invalid index path: <NSIndexPath: 0x174232ce0> {length = 2, path = 0 - 4}"
So, I've got a single crash report from a live app and the reason given was:

`NSInvalidArgumentException: attempt to scroll to invalid index path: <NSIndexPath: 0x174232ce0> {length = 2, path = 0 - 4}`

I'm not too worried about it, i'm just trying to figure out how it happened/how it can be prevented.
The crash appeared to have taken place in PDFThumbnailCollectionViewController :

`

[2017-08-16 08:04] boynamanh opened #61 "Issue running on iOS 9.3.5"
Can't touch on screen if pdf file contain more than 2 images,look like userinteraction property was false

[2017-08-16 13:26] ghousenaren commented on #59
Or could you use filename as attachment name

[2017-09-07 05:53] subhransusahoo08 opened #62 "Can we get manual rotation feature to this."
Can we get manual rotation feature to this.

[2017-09-14 16:55] jackdem opened #63 "Adding a back button without using a nav controller?"
I use

present(readerController, animated: true, completion: nil)

rather than a nav controller to present the view. Is it possible to have a way to add a close button to the view programmatically?

[2017-09-18 16:23] ranunez commented on #59
Great idea! We can definitely work on this

[2017-09-18 16:24] ranunez commented on #60
Ahh, thanks for the stack trace, we can see whats going on

[2017-09-18 16:26] ranunez commented on #61
Sorry, can you be a little more specific? Do you mean you can't tap anywhere on the screen if it contains more than 2 pages?

[2017-09-18 16:26] ranunez commented on #62
No

[2017-09-18 16:26] #62 closed

[2017-09-18 16:28] ranunez commented on #63
Its possible, the app should detect when its being presented in a modal, and if so, it should have some sort of close button to dismiss. Great idea!

[2017-09-20 07:07] boynamanh commented on #61
That right,I can't swipe right to move to the next page

2017-09-18 23:26 GMT+07:00 Ricardo Nunez <notifications@github.com>:

[2017-10-04 15:07] MarcoFilosi opened #64 "Main Thread Checker: UI API called on a background thread: -[UIView bounds]"
Xcode 9 adds a new [main thread checker](https://developer.apple.com/documentation/code_diagnostics/main_thread_checker). I was running our app through the main thread checker to see where we may be accessing properties or invoking methods from background threads and discovered that `bounds` in TiledView.swift line 62 is not called from main thread.

### Version Info

* PDFReader version: 2.4.0
*

[2017-11-06 21:25] jwelton commented on #57
Hi @Sokalay. Are you able to provide any more details? For example, how can we reproduce this problem?

[2017-11-07 10:58] ankitnetwin opened #68 "How to detect when the pdf has finished loading ?"

[2017-11-07 22:55] JorgeAGomez commented on #63
I found a solution for this:

`let myBackButton = UIBarButtonItem(title: "Cancel", style: .done, target: self, action:  #selector(self.goBackTapped(_:)))`
`let document = PDFDocument(fileData: pdf_data, fileName: "contract_pdf")`
`let readerController = PDFViewController.createNew(with: document!, title: "Contract", backButton: myBackButton)`
`let targetNavigationController = UINavigationControlle

[2017-11-10 11:07] mahdidham opened #69 "How to install manually without Cocoapod, or Carthage?"
Can you descript how to install manually (download directly in github) without any use of Pod? Is it just copy-drag the PDFReader.Framework to my project or something else?

[2017-11-13 00:09] #64 closed

[2017-11-13 00:14] ranunez commented on #61
Can you please provide steps to reproduce? I can't reproduce this on the demo app.

[2017-11-13 00:15] ranunez commented on #63
Thanks for the code snippets, can you please provide a pull request?

[2017-11-13 00:17] ranunez commented on #68
There currently is no callback when the PDF is finished loading; the pages load lazily

[2017-11-13 00:17] #68 closed

[2017-11-13 00:21] ranunez commented on #69
Please consult Apple's documentation for how to embed a framework into an Xcode project: https://developer.apple.com/library/content/technotes/tn2435/_index.html

[2017-11-13 00:21] #69 closed

[2017-11-13 08:31] boynamanh commented on #61
Hi guy,
Oh sorry,long time ago after i did that, i can’t remember there steps :(

[2017-11-13 13:55] #61 closed

[2017-11-14 21:14] MarcoFilosi opened #70 "PDFReader 2.5.1 is not recognized as a Swift4 project"
PDFReader 2.5.1 has been written in Swift4 but CocoaPods 1.3.1 install it as a Swift 3.2 project

### Version Info

* PDFReader version: 2.5.1
* CocoaPods version: 1.3.1
* XCode version: 9.1 (9B55)

### Expected Behavior

Execute `pod install` and then compile project on XCode as a Swift 4 project.

### Actual Behavior

20 Swift Compiler Errors. Error messages are: `xxx is inaccessible due to 'pri

[2017-11-14 22:10] MarcoFilosi commented on #70
This is not an issue on PDFReader Pod. This is an issue on CocoaPods when we have project importing pods set to a specific swift version but pod is configured with another swift version.

[2017-11-14 22:12] #70 closed

[2017-11-14 22:24] MarcoFilosi opened #71 "Warning in TiledView.swift on version 2.5.1"
Merging #67 issue caused just an introduction of a warning, because now `bounds` is not used anymore inside `override func draw(_ layer: CALayer, in con: CGContext)` method.
Bug #64 was already fixed by using `layer.bounds` instead of `bounds`

[2017-11-15 09:19] veekay12345 opened #73 "Fraction completed showing 0"
On downloading a pdf from remote url,download progress fraction completed is always showing 0.How can this be solved

[2017-11-15 15:32] InesBelhouchet opened #74 "which version is compatible with the swift 3.2?"

[2017-11-15 17:21] #71 closed

[2017-11-15 17:24] ranunez commented on #73
Can you be a little more specific? Do you have code snippets? Are you sure this is a problem with this library and not a problem with the way you are downloading data from a URL?

[2017-11-15 17:25] ranunez commented on #74
None, this is works in Swift 2 and Swift 4

[2017-11-15 17:25] #74 closed

[2017-11-17 06:26] Neogene opened #75 "Names conflcts in iOS11"
PDFDocument is now an official iOS 11 class, so using this project for conditional code to display in iOS<11 pdf documents isn't working, any clue to use both? (ps: using into an obj-c project)

[2017-11-17 09:12] barzhomi commented on #60
That's issue appears every time when you trying to scroll the list of document pages after the last page. If the last page scrolled for more than half a screen the app crash because the list of thumbnails trying to set current thumbnail index out of the bound.

[2017-11-21 16:13] ranunez commented on #75
The naming conflict is for a class in PDFKit (the native replacement for this library that is iOS 11 only). To avoid naming conflicts with this class, use [proper namespacing](http://en.swifter.tips/namespace/) or don't import PDFKit

[2017-11-21 16:13] #75 closed

[2017-11-22 06:04] IrfanMarwat opened #76 "Unable to Compile"
Unable to compile Xcode 9 swift 3.2. Lot of internal error, inaccessible due private protection level.

[2017-11-23 11:45] veekay12345 opened #77 "First two pages and last page are adding extra white spaces"
Is there any way to remove the white spaces in the first 2 images and last image?

[2017-11-23 23:52] ranunez commented on #77
@veekay12345 Do you have a screenshot of what you are referring to?

[2017-11-23 23:53] ranunez commented on #73
Closing due to lack of activity

[2017-11-23 23:53] #73 closed

[2017-11-23 23:54] ranunez commented on #76
https://github.com/Alua-Kinzhebayeva/iOS-PDF-Reader/blob/master/README.md#requirements

[2017-11-23 23:54] #76 closed

[2017-11-24 05:57] veekay12345 commented on #77
![screen shot 2017-11-24 at 11 20 29 am](https://user-images.githubusercontent.com/33084580/33197281-6ec11c80-d10a-11e7-8dfd-d08ed834ae70.png)

[2017-11-25 05:56] ranunez commented on #77
@veekay12345 Do you have any steps to reproduce? I'm not sure what I am looking at.

[2017-12-01 16:58] Binoop opened #78 "Thumbnails generation is delayed when loading from document directory"
Hi Team,

When i am trying to load a pdf from the document directory, the thumbnail generation is either very slow in loading or not load at all. What might be the issue.

[2017-12-02 07:42] #77 closed

[2017-12-15 22:33] ilosamos opened #79 "JPEGDecompressSurface : Picture decode failed: e00002c2"
Hi,

I am developing an iPad app for storing and reading music sheets pdfs. Most of the pdfs i load into the app using your PDFReader (which is great btw) are scans. So basically a PDF file with a big picture on it.

With some pdf files i face the following issue:
`JPEGDecompressSurface : Picture decode failed: e00002c2`

After the message is shown in the xcode output it just shows a white blank p

[2017-12-18 10:03] sassiwalid opened #80 "problem with swift 3.1"
Hi I tried to install ios-pdf-reader with xcode8_3_2 and I think is due to not supporting of swift 3 in this version????

[2017-12-18 16:58] ranunez commented on #80
https://github.com/Alua-Kinzhebayeva/iOS-PDF-Reader/blob/master/README.md#requirements

[2017-12-18 16:58] #80 closed

[2017-12-18 16:59] ranunez commented on #79
Nice catch @ilosamos! I'll look into this, thats really weird

[2018-01-06 07:42] codumann opened #81 "Conflicts with SWRevealViewController."
How to use ios-PDF-Reader with SWRevealViewController. i found that both are not working together...

Please help.

[2018-01-06 07:59] codumann commented on #58
havent use this ios-pdf-reader yet, but i thing you should save that last page number in you userdefault before leaving the app.
and when you came back you should check last page number from didFinishLaunchingWithOptions.

[2018-01-09 08:00] foobra commented on #14
can we download part of the remote pdf and display it as progressive way?

[2018-01-28 23:45] caevan opened #82 "Top of first page hidden under top navigation bar"
I have an issue where the top of the first page of the PDF document is hidden under the navigation bar. Subsequent pages are displayed correctly  and the first page is then displayed correctly if you move back to it from another page.
I am loading the PDF Reader from a UITableViewController within a UITabbarcontroller. I also hide the Tabbar when I load the PDF reader.
I am also getting  UICollect

[2018-02-02 10:16] jackdem opened #83 "Bug when PDF is landscape orientation and app is locked portrait?"
I have a bug where my portrait orientated app, loads blank pages for landscape PDF's

Here is a screenshot

![simulator screen shot - iphone 8 - 2018-02-02 at 10 14 27](https://user-images.githubusercontent.com/31346145/35727965-e6dae16e-0801-11e8-8358-6488f2039a2b.png)

This is landscape, it will load if i click the share button and save the PDF, but currently its just blank.

Is this a library b

[2018-02-02 10:51] syky27 commented on #79
This is happening to me, when I open PDF in UIWebView or WKWebView on rather older device, and try to scroll very fast, it restarts Spring board....

[2018-02-12 10:30] QuantumCPH opened #84 "Crash on PDFThumbnailCollectionViewController"
When I try to swipe left on the last page of the book I have opened via this library, the app got crashed and I am attaching the screenshots.
<img width="889" alt="screen shot 2018-02-12 at 3 23 50 pm" src="https://user-images.githubusercontent.com/944191/36092454-3e4aac9a-1009-11e8-9ae1-1b9152b5d6aa.png">
<img width="234" alt="screen shot 2018-02-12 at 3 28 32 pm" src="https://user-images.githubu

[2018-02-12 10:31] QuantumCPH commented on #84
@stuffmc @benbahrenburg @MarcoFilosi @le4ker @ranunez please check that issue

[2018-02-13 11:07] QuantumCPH commented on #84
@stuffmc @benbahrenburg @MarcoFilosi @le4ker @ranunez please respond asap

[2018-02-13 11:16] stuffmc commented on #84
Totally not into PDFs anymore for my current job so I hope the others can have a look.

[2018-02-22 09:27] ranunez commented on #81
https://stackoverflow.com/a/25232124

[2018-02-22 09:27] #81 closed

[2018-02-25 11:21] ethemsulan opened #85 "Last Opened Page"
Helli,

How can i setup to open at last page viewed? i do not want to open pdf all time from first page.

Thanks.

[2018-02-27 11:49] zaifz commented on #76
Go to PDFReader Target - BuildSettings. Select Swift Language Version as **Swift 4**

![screen shot 2018-02-27 at 5 13 15 pm](https://user-images.githubusercontent.com/16377770/36727124-1f7a1d84-1be2-11e8-9104-cdc75bd47f84.png)

[2018-02-27 11:50] zaifz commented on #70
Go to PDFReader Target - BuildSettings. Select Swift Language Version as **Swift 4**

![screen shot 2018-02-27 at 5 13 15 pm](https://user-images.githubusercontent.com/16377770/36727226-8396e572-1be2-11e8-8c4b-1fe8fe19418e.png)

[2018-03-13 07:12] dp4dileep opened #87 "Custom current page only works on ipad, in iphone it shows first page as current page. What was the issue please help."

[2018-03-13 07:35] dp4dileep commented on #87
Fixed, its coz of collectionview height problem in iphone

[2018-03-13 07:35] #87 closed

[2018-04-05 08:35] workingDog commented on #83
I have a similar issue.
Did you find a a workaround?

[2018-04-12 06:25] najoua opened #88 "App Terminated due to memory issue"
Hi,

I am using your library, thank you so much for this. But actually i'am facing a problem, I am using big Pdf files with important resolution, and unfortunatelythe app crashes because of that. Could you help me solving the problem please, it's very urgent.

NB: I tried to decrease the resolution and it works much better with some file, but it's not a good solution, because i don't know when the

[2018-04-19 06:44] edcastparesh opened #89 "Create new document is not working with objective c"
****

[2018-04-26 09:00] dulgan opened #90 "SwiftLint error (identifiers names too short)"
Using swiftlint 0.25.1 and Carthage, I can't build the project without renaming the too short identifiers or disabling the rule

[2018-04-26 15:05] ranunez commented on #90
This is an issue with SwiftLint, not with the library itself.

[2018-04-26 15:05] #90 closed

[2018-04-30 03:07] workingDog opened #91 "PDF annotations not showing"
Thanks for this great IOS-PDF-Reader. Your code works well in my App, however when the pdf document
contains some annotations, these do not display. Could you point me to
the area in the code where I could add modifications to display annotations as well.

[2018-04-30 15:29] ranunez commented on #91
You should use Apple's [PDFKit](https://developer.apple.com/documentation/pdfkit), which is a native way to display PDFs including those that contain annotations. Its really easy to setup and use.

For this codebase, you would need to modify the model layer `PDFDocument` to extract the annotations from the raw PDF file, and you would then modify the views to add and display the images/buttons corr

[2018-05-13 17:48] PeterNgTr opened #92 "The currentPageIndex is always 0 eventhough startPageIndex is passed with another value"
https://github.com/Alua-Kinzhebayeva/iOS-PDF-Reader/blob/b04a688b29b2b3ac0cb11c253572e68ddf0a450a/Sources/Classes/PDFViewController.swift#L88

I tried to pass the startPageIndex as 10
`private func showDocument(_ document: PDFDocument) {
        let image = UIImage(named: "")
        let controller = PDFViewController.createNew(with: document, title: document.fileName, actionButtonImage: image, ac

[2018-05-13 17:55] fulviomoya commented on #88
Hi,
   I have the same problem using documents of ~220MB, because the PDF files we've tried to open has a high resolutions need a lot of memory and can't deallocate the memory fast and crash the app. You could be try this temporal solution:

1. Create PDFViewController using the parameter isThumbnailsEnabled equal to false.
   `PDFViewController.createNew(with: PDFDocument(url: remotePDFDocumentUR

[2018-05-24 17:48] GuilhermeaBorba opened #93 "Invalid asset name supplied: ''"
Not working, this error appears in the log when I click the button to view the PDF.

[2018-05-25 04:33] FCF5646448 commented on #92
u should move the code
" currentPageIndex = updatedPageIndex
  thumbnailCollectionController?.currentPageIndex = currentPageIndex" on the func scrollViewDidScroll to the other place, like this:
public func collectionView(_ collectionView: UICollectionView, willDisplay cell: UICollectionViewCell, forItemAt indexPath: IndexPath) {
        currentPageIndex = indexPath.row
        self.title = String(

[2018-05-28 10:09] Basha0 opened #94 "Disable ThumbnailView while user is reading?"
Hello,
is there a way to disable the ThumbnailView while the user is in "reading mode" and activate it if he touches the screen again?
Like: open PDF->he doesn't do anything in 2 seconds -> disable thumbnailView
Touches screen -> activate the view again and when he again doesn't do anything -> disable again.

Would be nice if there a way to this :D

[2018-06-04 06:59] xiaomingstudent opened #95 "iOS9 cpu 100%"
![image](https://user-images.githubusercontent.com/11836752/40902805-db4f6a66-6807-11e8-9311-7131d942be80.png)

[2018-06-14 01:45] danielsGit commented on #95
The same issue on my side

[2018-06-14 08:18] ashwingattani commented on #95
@Alua-Kinzhebayeva any update on this?

[2018-06-18 22:01] #94 closed

[2018-07-11 05:18] tomlongo opened #97 "Some PDFs display blank white page"
I cant seem to work out what is causing this, but some PDFs that get fed to it are displaying as blank white pages. If I take those PDFs and re-save them in something like Preview, then it works, so I"m guessing it's something to do with the way in which they were exported.

Has anyone come across this? Not sure how to troubleshoot as I cant reliably replicate 🤔

[2018-07-19 15:23] jwelton commented on #95
Can you give anymore details on this?

[2018-07-19 17:39] ashwingattani commented on #95
@jwelton every time we open a PDF, the CPU usage goes straight up to 100%, sometimes even more. Similarly, the memory is not released once the PDF is closed, some internal variables keep references in memory and result in application crash for lower memory devices.

[2018-07-20 02:17] xiaomingstudent commented on #95
i add "self.collectionView?.register(PDFThumbnailCell.self, forCellWithReuseIdentifier: "Cell")"  in ViewdidLoad method(PDFThumbnailCollectionViewController) . Then solve this problem but i don't kown why?

[2018-08-14 07:13] hitesh-shukla opened #98 "How can i display base64 string"
Hello,

i have base64 string how can i display it on view

[2018-08-22 08:11] lightman73 commented on #97
@tomlongo

I had the same problem with a couple of PDFs there were created with an old version of Ghostscript (which had a documented bug).

The only way I found to overcome the problem has been to use a recent version of gs to re-save them, e.g. gs -sDEVICE=pdfwrite -oCorrect_PDF.pdf Problematic_PDF.pdf .

That said, I can't understand why Preview, iBooks and iOS 11 PDFKit (which I'd prefer not t

[2018-10-03 05:53] jobinsjohn opened #100 "Not building in Swift 4.2"
Here are the configurations

Xcode : 10.0
Swift 4.2
Cocoapods Version : 1.5.3

Issues found

<img width="379" alt="screen shot 2018-10-02 at 4 12 21 pm" src="https://user-images.githubusercontent.com/3398498/46392297-fbe05080-c6f1-11e8-99ff-8973900d06e4.png">

<img width="1341" alt="screen shot 2018-10-03 at 9 48 57 am" src="https://user-images.githubusercontent.com/3398498/46392306-01d63180-c6f2-

[2018-10-22 09:43] ZaidSA commented on #97
@Alua-Kinzhebayeva Any solution for this?

[2018-10-22 11:32] ZaidSA commented on #97
@Alua-Kinzhebayeva Any updates on this issue?

[2018-10-30 02:11] aloveric opened #101 "How to add pdf to UIView, not pushViewController?"

[2018-11-08 16:42] Y2JChamp commented on #101
this is my snippet:
`let remotePDFDocumentURLPath = item.url
        let remotePDFDocumentURL = URL(string: remotePDFDocumentURLPath!)!
        let document = PDFDocument(url: remotePDFDocumentURL)!

        let readerController = PDFViewController.createNew(with: document)

        let modalReaderController: PDFReaderViewController = UIStoryboard(name: "Main", bundle: nil).instantiateViewControll

[2018-11-14 00:50] wyue1227 opened #102 "Reason: image not found"
xcode10
error message:

dyld: Library not loaded: @rpath/libswiftSwiftOnoneSupport.dylib
  Referenced from: /Users/wangyue/Library/Developer/Xcode/DerivedData/PDFTest-adoembztabydoibttvcmvlktyuko/Build/Products/Debug-iphonesimulator/PDFReader.framework/PDFReader
  Reason: image not found

demo is ok, but my project can't run

[2019-01-16 17:24] aloveric commented on #101
@Y2JChamp Thanks~~

[2019-03-07 07:41] BoomDaDa opened #103 "PDF anchor"
Can you support the anchor?

[2019-03-09 11:52] zahraasg commented on #85
I want this option too , Did you find a solution for that ?
Can you tell it to me if you found some thing ?!?!

[2019-03-09 13:02] ethemsulan commented on #85
No, i could not yet.

zahraasg <notifications@github.com>, 9 Mar 2019 Cmt, 14:52 tarihinde şunu
yazdı:

[2019-03-20 04:13] tutmgch15002 opened #104 "Draw lines on PDF file"
I want to draw lines on any pages of PDF file. I am going to add subview on the page which is drawn and draw lines on that subview.
Could you give me another idea for this spec?
This is the final project in my school. Therefore, I must choose the most optimal way.
Thanks!

[2019-03-29 12:36] Ahmed-Komsan commented on #89
you can add another swift layer between this component and your app and use the swift layer instead in your objective-c code.

[2019-04-03 16:23] iamdeadman opened #105 "How to disable download / copy / print options dialog"
Hi,

Is there any option to disable, prevent or hide the download, print and copy options from the pdf document controller and also can we add custom authentication headers for loading the pdf documents. If so can you please point me in the direction as to how can it be done ?

[2019-04-09 07:51] PeterNgTr commented on #105
@iamdeadman that's possible to disable copy/print options with following code
[code]

[2019-04-10 05:07] iamdeadman commented on #105
Okay, thanks for the help. I had another question when loading remote pdfs the view hangs before showing the pdf I think so is it possible to load the default empty view with a progress spinner or something until the pdf gets downloaded and rendered so that there are smooth transitions from my view controller to the pdf reader view controller

[2019-04-14 08:22] 22CLG commented on #60
Was this solved? I have same issue

[2019-04-14 18:06] aaronjrenfroe commented on #60
It’s been a couple years but I believe I just edited the code in the pod to add a check if it was out of range.

-Aaron

On Apr 14, 2019, at 04:23, 22CLG <notifications@github.com<mailto:notifications@github.com>> wrote:

Was this solved? I have same issue

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/Alua-Kinzhebayeva

[2019-04-18 10:25] trangsuper opened #106 "How can i open web link in pdf viewer?"
Hello,

I in my PDF file has a url web site at the end of file. I want to open that site when click on link.
How can i open web link in pdf viewer? Could you help me

[2019-05-11 13:19] SasanSoroush opened #107 "Setting Header for remote url"
How can I set header(authorization,...) for remote pdf request?

[2019-06-07 12:52] vaibhavarora03 commented on #85
Hi.

Has anyone got solution for this?

[2019-06-07 12:54] vaibhavarora03 opened #108 "How to get last opened page"
I want to store the last opened page number so that when the user re-opens the book he gets the last read page opened. So how can I get the last opened page?

TIA.

[2019-06-26 13:58] zahraasg opened #109 "start page index from 1 not 0"
Hi, how can I start my page index from 1 not 0 ???? It's driving me crazy .

[2019-08-29 15:05] ndcg91 commented on #95
I confirm that by reusing the cel with the reuse identifier as @xiaomingstudent says the issue is fixed

[2019-11-10 17:04] wael20202 opened #111 "not support RTL and issue when tap to hide nav."
when change semantic to RTL and i tap to hide navaigation bar it's more issues and bugs , i wish fix it,
thank u.

[2019-11-13 08:40] mahmutpinarbasi commented on #97
This seems to be related with [this](https://github.com/Alua-Kinzhebayeva/iOS-PDF-Reader/issues/83) one.

I've changed changed the rotation code blocks with the following on `PDFDocument` & `TiledView`.

[code]

These changes seems to fixed the issue in my case.

[2020-01-20 08:05] Denok137 opened #112 "isNavigationBarHidden in UITabBarController"
Hi!

Situation:  PDF Reader presented in navigation controller of UITabBarController and user hide navigation bar by single tap
Issue: After leaving controller by taping on tab bar icon, NavigationBar stays hidden
Solution: Forced isNavigationBarHidden = false in viewWillDisappear?

[2020-03-24 14:59] TiagoSAmaral commented on #108
Hi! I opened this PR, i believe that this can help you:
https://github.com/Alua-Kinzhebayeva/iOS-PDF-Reader/pull/113

[2020-05-30 12:31] IcuScc opened #114 "Flashing Links"
Hello.
I want to try this library, but I want to make a question
With this library the links inside de PDF files, can make the flashing effect?

Thanks a lot

[2020-06-24 03:33] anandabayu commented on #23
Hi, I used .activitySheet I can share the pdf file to WhatsApp or save to file, but when I share it via Gmail, the document got an error, file name, and extension are changed.

[See Image](https://imgur.com/a/4cokhsk)

[2020-06-27 05:46] fukemy commented on #56
hello, i found the delay ~ 10 second when open pdf url with large content, so i want to display progress hud while opening until the pdfcontroller is showing, can you help me know where need to put that code?

[2020-07-05 11:10] customer-glassboxdigital opened #115 "When using CoreGraphics to draw in background thread memory usage of the app is getting very high until the App eventually crashes"
If I call the following function (drawBlackRect) from AppDelegate didFinishLaunchingWithOptions and play with the pdf (zoom in/out, swipe to next page etc ...), the memory usage of the app is getting very high until the app eventually crashes. I also added the same code translated to objective c to [PhotoScroller](https://developer.apple.com/library/archive/samplecode/PhotoScroller/Introduction/In

[2020-07-05 11:17] customer-glassboxdigital commented on #115
let colorSpace = CGColorSpaceCreateDeviceRGB()

[2020-08-06 17:05] marbalo opened #116 "Help - Share PDF other apps , with iOS9"
Hello ,

I am trying to share the PDF with other applications, but they are not showing in the popup window, I am running the demo on an iPad with version 9.

I understand that there is no longer support from apple.

Thank you very much for the help.

[2020-10-26 05:32] T4-PulkitT commented on #116
I want share my PDF file option in PDF-Reader can you help me ?

[2020-10-29 14:50] ZahraAsgharzadeh commented on #114
did you find out a way for this?

[2020-10-29 14:51] ZahraAsgharzadeh commented on #114
I wanna load url when user clicked on link, but now there is no way for that I think .

[2022-03-19 23:57] msaqlainbhatti opened #117 "Newer version required Swift 5"
installing the pod from the repo, first build always ask few changes to newer version
Files
**PDFPageView**
Line 90 & 107 to
`contentView.sendSubviewToBack(backgroundImageView)`
`decelerationRate = UIScrollView.DecelerationRate.fast`

Similarly
**PDFViewController**
Line 119
`  public var scrollDirection: UICollectionView.ScrollDirection = .horizontal {`

Please review and update the following lin

[2022-03-20 00:32] msaqlainbhatti commented on #117
FROM:
`90 contentView.sendSubview(toBack: backgroundImageView)`
TO:
`90 contentView.sendSubviewToBack(backgroundImageView)`
Error: 'sendSubview(toBack:)' has been renamed to 'sendSubviewToBack(_:)'
FROM:
`107.    decelerationRate = UIScrollViewDecelerationRateFast`
TO:
`107.      decelerationRate = UIScrollView.DecelerationRate.fast`
Error : 'UIScrollViewDecelerationRateFast' has been renamed to '

[2022-03-20 00:33] msaqlainbhatti commented on #117
`bitrise` is not building thew build